@font-face {
  font-family: "Magazine";
  src: url("fonts/23-seconds-to-midnight.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata.ttf") format("truetype");
}

h1 {
  font-family: Magazine;
  font-size: 100px;
  margin-top: 30px;
}

h2 {
  padding-top: 30px;
}

body,
.all {
  margin: 0;
  padding: 0;
  background-color: #c9c4d4;
  font-family: "Inconsolata";
}

.header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-color: black;
  color: white;
  padding: 30px;
  padding-left: 60px;
  padding-right: 80px;
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.intro {
  background-color: #c9c4d4;
  height: 50vh;
  text-align: center;
}

.prep {
  background-color: #bfb9cb;
  height: 50vh;
}

.obs {
  background-color: #b4adc2;
  height: 50vh;
}

.personas {
  background-color: #aaa1ba;
  height: 50vh;
}

.story {
  background-color: #9f95b1;
  height: 50vh;
}
