@font-face {
  font-family: "Magazine";
  src: url("fonts/23-seconds-to-midnight.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata.ttf") format("truetype");
}

div {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: Magazine;
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  padding-top: 30px;
  font-size: xx-large;
}

h3 {
  font-size: x-large;
  padding-top: 20px;
}

p {
  font-size: large;
  line-height: 22px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #aaa1ba;
  font-family: "Inconsolata";
}

.all {
  display: flex;
  flex-direction: column;
}

.header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-color: black;
  color: white;
  padding: 30px;
  padding-left: 60px;
  padding-right: 80px;
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.jump {
  text-decoration: none;
  color: white;
}

.jump:hover {
  color: #9f95b1;
}

.intro {
  background-color: #d4d0dc;
  text-align: center;
  padding-bottom: 40px;
  scroll-margin-top: calc(80px);
}

.txt {
  padding-left: 20vw;
  padding-right: 20vw;
}

.prep {
  background-color: #c9c4d4;
  text-align: center;
  scroll-margin-top: calc(80px);
}

.obs {
  background-color: #bfb9cb;
  text-align: center;
  scroll-margin-top: calc(80px);
}

.personas {
  background-color: #b4adc2;
  text-align: center;
  scroll-margin-top: calc(80px);
}

.story {
  background-color: #aaa1ba;
  text-align: center;
  scroll-margin-top: calc(80px);
}

details {
  background-color: #eae8ee;
  margin-bottom: 30px;
  padding: 20px;
  margin-right: 15vw;
  margin-left: 15vw;
  font-size: large;
}

details summary {
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
}

.questions {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.expl {
  padding-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.section {
  margin-right: 15vw;
  margin-left: 15vw;
  background-color: #eae8ee;
  background: repeating-linear-gradient(#eae8ee, #eae8ee 20.5px, #9f95b1 22px);
  padding-top: 5px;
}

.rings {
  margin-right: 15vw;
  margin-left: 15vw;
  background-color: #eae8ee;
  color: #aaa1ba;
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.paper {
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  text-align: left;
}

.sides {
  margin-left: 30px;
  margin-right: 30px;
}

.email {
  color: #3b3347;
  font-weight: bold;
}

.name {
  padding-bottom: 30px;
  font-weight: bold;
}

.sketch {
  border: 8px solid #aaa1ba;
  margin-bottom: 10px;
}

.persona1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
  padding-top: 10px;
  padding-left: 130px;
  padding-right: 120px;
}

.persona2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-top: 10px;
  padding-right: 120px;
  padding-left: 120px;
}

.persona1-txt {
  padding-left: 7vw;
}

.persona2-txt {
  padding-right: 7vw;
}

.storyboard {
  margin-top: 15px;
  border: 8px solid #d4d0dc;
  margin-bottom: 30px;
}
